.projetos-container {
    background-color: var(--gray-500);
    padding-bottom: 144px;
}

.titulo-projetos {
    text-align: center;
    margin-bottom: 56px;
    padding-top: 72px;
}

.vermelho {
    color: var(--red);
}

.projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
    align-items: center;
}

.projeto-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    max-height: 280px;
    background-color: var(--gray-400);
    border-radius: 12px;
    padding: 12px 12px;
}

.projeto-img {
    max-width: 306px;
    max-height: 156px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.projeto-link:hover {
    outline: 1px solid var(--gray-300);
    border-radius: 12px;
}

.servicos-container {
    background-color: var(--gray-600);
    padding-bottom: 120px;
}

.servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
    justify-items: center;
}

.servico-individual {
    max-width: 280px;
    max-height: 155px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    padding: 20px;
}

@media (max-width: 934px) {
    .projetos {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
}

@media (max-width: 740px) {
    .projetos {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .servicos {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .servico-individual {
        min-width: 280px;
        min-height: 155px;
    }
}